@import "../../../styles/variables";
@import "../../../styles/mixins";

.f-contact {
    &__title {
        margin-bottom: 40px;
    }

    &__phone-code {
        margin-right: 20px;
        flex-basis: 50%;
    }

    .f-input__wrapper {
        flex-grow: 1;
    }
}
