@import "../../../../styles/variables";

.b-search-options {
    padding: 55px 0;
    border-bottom: 1px solid $light-grey;

    &__group {
        padding: 0 16px;
        flex-basis: 25%;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }

        &:not(:last-child) {
            border-right: 1px solid $light-grey;
        }

        &._search-by {
            flex-grow: 0.2;
        }

        &._search-options {
            flex-grow: 0.2;
        }

        &-title {
            margin-bottom: 20px;
            line-height: 1;
        }
    }

    &__option {
        min-width: auto;
        padding: 0 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        white-space: nowrap;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
