@import "../../../styles/variables";

.b-select-relationships-to-copy {
    .b-modal__window {
        min-width: 1230px;
    }

    &__title {
        margin-bottom: 40px;
    }

    &__table.b-table__wrapper {
        margin-bottom: 20px;

        .b-table__body {
            .b-table__row {
                height: 60px;
            }

            .b-table__cell {
                &:last-child {
                    border-left: 1px solid $light-grey;
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
            }
        }

        .b-table__cell {
            width: 270px;

            &:last-child {
                width: 163px;
                text-align: center;
            }
        }
    }

    &__logo {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid #dfe1eb;
        margin-right: 14px;
    }
}
