@import "../../../styles/variables";

.b-about-object {
    &__search-outer {
        margin-bottom: 5px;
    }
    &__search {
        width: 100%;
    }
    &__objects {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -5px;
        &-item {
            padding: 5px;
        }
    }
    &__caption {
        margin-bottom: 20px;
    }
}
