.f-convert {
    &__title {
        margin-bottom: 40px;
    }

    &__no-user-message {
        margin-top: 40px;
        margin-bottom: 40px;
        &-new-user-click {
            cursor: pointer;
            margin-right: 5px;
        }
    }
}
