@import "../../../styles/variables";
@import "../../../styles/mixins";

$daypicker-selected-background-color: #cbd9fe;
$daypicker-day-cell-width: 37.6px;

.DayPicker {
    background-color: $white;
    border: 1px solid $light-grey;
    border-radius: $border-radius-normal;

    &-wrapper {
        padding-bottom: 13px;
    }

    &-Caption {
        text-align: center;
        margin-bottom: 15px;

        & > div {
            font-weight: 400;
            font-size: $h5;
        }
    }

    &-Month {
        margin-left: 1px;
        margin-right: 1px;

        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    &-NavBar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        display: flex;
        padding: 0 10px;
        justify-content: flex-start;
        align-items: center;
        pointer-events: none;

        .nav-bar-button {
            pointer-events: auto;
            &._year {
                &._next {
                    margin-left: 16px;
                }

                &._prev {
                    margin-right: 16px;
                }
            }

            &._month {
                &._next {
                    margin-left: auto;
                }

                &._prev {
                    margin-right: auto;
                }
            }

            &._next {
                img {
                    transform: rotate(180deg);
                }
            }
        }
    }

    &-Day {
        font-size: $h5;
        border: 1px solid $white;
        padding: 7px 5px;
        text-align: center;
        line-height: 1;
        flex: 0 0 $daypicker-day-cell-width;
        height: 30px;

        &::after {
            content: inherit;
            position: absolute;
            left: 50%;
        }

        &--today {
            color: $primary;
        }

        &--selected:not(&--start):not(&--end):not(&--disabled):not(&--outside) {
            border-radius: 0;
            border-color: $daypicker-selected-background-color;
            background-color: $daypicker-selected-background-color;
            color: $black;

            ._single & {
                background-color: transparent;
                border-radius: 50%;
                border-color: $white;
                color: $white;
            }
        }

        &.DayPicker-Day--start.DayPicker-Day--end.DayPicker-Day--selected {
            &::before {
                content: none;
            }
        }

        &--start:not(&--outside),
        &--end:not(&--outside),
        ._single &--selected {
            border: none;
            position: relative;
            color: $white;

            & > span {
                position: absolute;
                width: 30px;
                height: 100%;
                left: 50%;
                top: 0;
                border-radius: 50%;
                transform: translate3d(-50%, 0, 0);
                z-index: 1;
                background-color: $primary;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid $white;
            }

            &:before {
                content: "";
                position: absolute;
                top: 0;
                height: 100%;
                width: 50%;
                background-color: $daypicker-selected-background-color;
                z-index: 0;
            }
        }

        ._single &--selected {
            &:before {
                content: none;
            }
        }

        &--end {
            &:before {
                left: 0;
            }
        }
    }

    &-Week,
    &-WeekdaysRow {
        display: flex;
        justify-content: space-between;
        width: $daypicker-day-cell-width * 7;
    }

    &-Week {
        padding-bottom: 1px;
    }

    &-Weekday {
        color: $grey;
        font-size: $h6;
        flex: 0 0 $daypicker-day-cell-width;
        margin-bottom: 8px;
    }
    &-Weekdays {
        display: block;
        margin-top: 0px;
    }

    &-NavButton {
        &--prev {
            left: 10px;
        }

        &--next {
            right: 10px;
        }
    }

    &Input {
        width: 148px;

        input {
            transition: border-color $transition-default, color $transition-default;

            ._error & {
                border-color: $red;
            }
        }

        & input:focus {
            border-color: $primary;
            color: $primary;
        }

        &-Overlay {
            background: transparent;
            right: 0;
            left: auto;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);

            ._left & {
                right: auto;
                left: 0;
            }

            ._first & {
                transform: translate3d(182px, 0, 0);

                ._left & {
                    transform: none;
                }
            }

            ._left ._second & {
                transform: translate3d(-183px, 0, 0);
            }

            .DayPicker-Months {
                flex-wrap: nowrap;

                ._double & {
                    width: 548px;
                }
            }

            &Wrapper {
                transform: translate3d(0, 10px, 0);
                z-index: $datepicker-wrapper-z-index;
            }
        }

        input {
            @include input;
        }
    }
}

.DayPicker:not(.DayPicker--interactionDisabled)
    .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover,
.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside),
.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):hover {
    background-color: transparent;
}

.b-datepicker {
    position: relative;

    &__separator {
        margin: 0 10px;
    }

    &._with-icon {
        width: 200px;
        position: relative;

        .DayPickerInput {
            width: auto;

            input {
                text-align: left;
                padding-right: 55px;
                padding-left: 14px;
            }
        }
    }

    &._full-width {
        width: 100%;

        .DayPickerInput {
            width: 100%;
        }
    }

    ._margin-bottom-normal {
        .DayPickerInput {
            margin-bottom: 20px;
        }
    }

    &__icon {
        position: absolute;
        right: 17px;
        top: 11px;
        pointer-events: none;
    }

    &__error {
        @include input-error;
    }

    &__select {
        appearance: none;
        font-size: $h5;
        line-height: 1.33;
        border: none;
        background: transparent;
        cursor: pointer;
        width: auto;
        text-align-last: center;
        text-decoration: underline;

        &:not(:last-child) {
            margin-right: 10px;
        }
    }
}

.b-datepicker-button {
    position: relative;

    &__daypicker {
        position: absolute;
        top: calc(100% + 10px);
        left: 0;
        z-index: $datepicker-wrapper-z-index;
        transform: translate3d(-50%, 0, 0);
    }
}
