@import "../../styles/variables";
@import "../../styles/mixins";

$file-list-inner-padding: 11px;

.b-files-list {
    &__wrapper {
        padding-top: 26px;

        &:not(:first-child) {
            padding-top: 56px;
        }

        &:not(:last-child):not(._not-last-group) {
            margin-bottom: 50px;
        }

        &._contract {
            margin: 0 -20px;
            padding-top: 20px;
        }
    }

    &__filter,
    &__filters {
        margin-left: auto;
    }

    &__list {
        margin-top: 16px;
        @include shadow-small;

        &._contract {
            margin-top: 0;
        }
    }

    &__item {
        padding: $file-list-inner-padding;
        border: 1px solid $light-grey;
        background-color: $white;
        overflow: hidden;

        &:first-child {
            border-top-right-radius: $border-radius-normal;
            border-top-left-radius: $border-radius-normal;
        }

        &:last-child {
            border-bottom-right-radius: $border-radius-normal;
            border-bottom-left-radius: $border-radius-normal;
        }

        &:not(:last-child) {
            border-bottom: none;
        }

        &._downloadable {
            cursor: pointer;

            &:hover {
                background-color: transparentize(#e6edff, 0.8);
            }
        }

        &._selected {
            background-color: transparentize(#e6edff, 0.6);
        }

        &._contract {
            background-color: transparent;
            border-radius: 0;
            border-left: 0;
            border-right: 0;
            padding-top: 17px;
            padding-bottom: 17px;

            &:last-child {
                border-bottom: 0;
            }
        }
    }

    &__actions {
        margin-left: auto;
        padding-right: 12px;
        position: relative;

        .simple-button {
            width: 25px;
        }

        &._contract {
            padding-right: 20px;

            &:before {
                left: -26px;
            }
        }

        &:before {
            content: "";
            position: absolute;
            width: 1px;
            height: 300%;
            top: 50%;
            left: -26px;
            transform: translate3d(0, -50%, 0);
            background-color: $light-grey;
        }
    }

    &__see-history {
        margin-top: 30px;
    }

    &__no-files-message {
        padding: 20px 20px 20px 0;
    }
}

.b-files-list-table {
    $first-column-width: 450px;
    $last-column-width-lg: 151px;
    $last-column-width-sm: 71px;
    $action-button-width: 58px;

    &__wrapper {
        margin-top: 57px;
        margin-bottom: 24px;
        position: relative;

        .b-table {
            &__wrapper {
                border-radius: $border-radius-normal $border-radius-normal 0 0;
                margin-bottom: 0;
                margin-top: 16px;
                overflow-x: scroll;
            }
        }
    }

    .b-table__row {
        &._head {
            .b-table__cell {
                &:first-child,
                &:nth-child(2) {
                    height: 49px;
                    transform: translate3d(0, 1px, 0);
                    padding: 15px 15px;
                    border: none;
                    background-color: $white;
                }
            }

            height: 50px;
        }

        &:not(._head) {
            &:hover {
                .b-table__cell:first-child,
                .b-table__cell:nth-child(2) {
                    background-color: $white;
                    box-shadow: 0 5px 20px rgba(54, 56, 64, 0.1);
                }
            }

            height: 60px;
        }

        &._no-edit {
            .b-table__cell:nth-child(2) {
                width: $last-column-width-sm;
            }

            .b-table__cell:last-child {
                padding-right: #{$last-column-width-sm + 15px};
            }
        }
    }

    .b-table__cell {
        white-space: nowrap;

        &:first-child {
            position: absolute;
            transform: translate3d(0, 1px, 0);
            width: $first-column-width;
            height: 58px;
            border: none;
            padding: 10px 15px;
            z-index: 1;

            .file-icon {
                float: left;
            }

            &:hover {
                width: auto;
                min-width: 450px;
                padding-right: 65px;
            }
        }

        &:nth-child(2) {
            position: absolute;
            right: 1px;
            transform: translate3d(0, 1px, 0);
            width: $last-column-width-lg;
            height: 58px;
            border: none;
            padding: 4px 15px;
            z-index: 1;

            &.__withSwitch {
                width: $action-button-width * 4 - 25px;
            }
        }

        &:nth-child(3) {
            padding-left: #{$first-column-width + 15px};
        }

        &:last-child {
            padding-right: $action-button-width * 4 + 25px;
        }

        &:nth-child(1),
        &:nth-child(2) {
            padding-right: 0;
        }

        &__inline-input {
            padding: 7px 15px;
            height: 30px;
            min-width: 200px;
        }

        &__inline-phone {
            display: flex;
            justify-content: space-between;
            width: 450px;

            &-code {
                width: 240px;
            }

            &-number {
                width: 200px;
            }
        }
    }

    .b-table__body .b-table__cell {
        &:first-child {
            background-color: #f9fafc;
            border-right: 1px solid $table-border-color;
            overflow: hidden;
        }

        &:nth-child(2) {
            background-color: #f9fafc;
            border-left: 1px solid $table-border-color;
        }
    }

    &__actions {
        height: 100%;
    }

    &__add-detail-form {
        border: 1px solid $table-border-color;
        border-radius: 0 0 $border-radius-normal $border-radius-normal;
        background-color: #fff;
        margin-top: -1px;
    }

    &__column-select {
        margin-left: auto;
    }

    &__detail-label {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.b-organization {
    .b-files-list-table {
        .b-table__row {
            &._head {
                .b-table__cell {
                    &:first-child {
                        position: relative;
                        width: auto;
                        padding-right: 58px;
                    }
                }
            }
        }

        .b-table__cell {
            &:first-child {
                position: relative;
                width: auto;
                padding-right: 58px;

                &:hover {
                    width: auto;
                    min-width: auto;
                    padding-right: 58px;
                }
            }

            &:nth-child(3) {
                padding: 10px 15px;
            }

            &:nth-child(2) {
                padding-right: 15px;
            }
        }
    }
}
