@import "../../../styles/variables";
@import "../../../styles/mixins";

.f-company-name {
    margin-bottom: 5px;
    &__name {
        line-height: 50px;
    }
    &__edit {
        padding: 5px 0;
        .f-company-name__actions {
            margin-left: 8px;
        }
    }
    &__view {
        .f-company-name__actions {
            margin: 0 0 5px 8px;
        }
    }
    &__input {
        padding: 7px 15px;
        height: 40px;
        min-width: 200px;
    }
    .f-input__error {
        top: 40px;
    }
    &__actions {
        display: flex;
        margin: 0 -3px;
        &-item {
            padding: 0 3px;
        }
    }
}
