@import "../../../styles/variables";
@import "../../../styles/mixins";

.b-collapsing-list {
    flex-grow: 1;
    position: relative;
    margin-bottom: 20px;

    &._collapsed {
        @include collapsing;
    }

    &__collapse-button {
        width: 100%;
        border-top-right-radius: 0;
        border-top-left-radius: 0;

        .button__icon {
            margin-right: 10px;
        }
    }
}
