.b-edit-company-address-modal {
    & > .b-modal__window {
        width: 100%;
        max-width: 1170px;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
    }

    &__title {
        margin-bottom: 10px;
        padding: 0 15px;
    }
}
