@import "../../../styles/variables";
@import "../../../styles/mixins";

.b-select-to-invite-users {
    &__table.b-table__wrapper {
        &._disabled {
            pointer-events: none;
            opacity: 0.4;
        }
        @include shadow-small;
        margin-bottom: 20px;

        .b-table__body {
            .b-table__row {
                height: 60px;
            }

            .b-table__cell {
                &:last-child {
                    border-left: 1px solid $light-grey;
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
            }
        }

        .b-table__cell {
            width: 150px;

            &._jobTitle {
                width: 100px;
            }

            &._role {
                width: 200px;
            }

            &:last-child {
                width: 60px;
                text-align: center;
            }
        }
    }
}
