.b-address-row {
    width: 50%;
    padding: 0 10px;
    &__caption {
        display: flex;
        align-items: center;
        height: 21px;
        margin-bottom: 13px;
        .plus-button {
            margin-left: 18px;
            transform: translate3d(0, 0, 0);
            img {
                display: block;
            }
        }
    }
}
