.b-loader {
    display: block;
    height: 100%;
    z-index: 1000;
    min-height: calc(100vh - 43px); //85

    &-inner {
        display: inline-block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        &__text {
            font-weight: 500;
            font-size: 18px;
            line-height: 1.67;
            letter-spacing: normal;
            color: #363840;
            font-size: 18px;
        }
    }
}
