@import "../../../../../styles/variables";
@import "../../../../../styles/mixins";

.b-installations-manufacturer {
    margin-top: 50px;

    &__title {
        margin-bottom: 15px;
    }

    &__search {
        width: 575px;
    }

    &__table {
        @include shadow-small;
        margin-bottom: 34px;

        &-type-icon {
            margin-right: 10px;
        }

        &-row-actions {
            margin-left: auto;
            padding-left: 20px;
            position: relative;
            height: 40px;

            &:after {
                content: "";
                position: absolute;
                left: 0;
                top: -5px;
                height: calc(100% + 10px);
                width: 1px;
                background-color: $light-grey;
            }
        }
    }

    &__building-info {
        &-address {
            margin-bottom: 3px;
        }

        &-pin {
            margin-right: 4px;
        }
    }
}
