@import "../../../styles/variables";
@import "../../../styles/mixins";

.b-contract {
    @include shadow-small;
    background-color: #fafbfc;
    border: 1px solid $light-grey;
    border-radius: $border-radius-normal;
    border-bottom-right-radius: 0;
    padding: 11px 20px;
    overflow: hidden;
    width: 100%;
    min-height: 52px;

    &._expanded {
        border-radius: 0;
        border-bottom: 0;
        box-shadow: none;
        background-color: #fafbfc;
        padding-bottom: 0;

        &:first-child {
            border-top-left-radius: $border-radius-normal;
            border-top-right-radius: $border-radius-normal;
        }

        .b-contract__info {
            width: 100%;
        }
    }

    &._cockpit {
        background-color: #fafbfc;
        border-radius: 0;

        &:first-child {
            border-top: 0;
            border-bottom-left-radius: $border-radius-normal;
        }

        &._expanded {
            border-radius: 0;
        }
    }

    &__info {
        padding-right: 15px;

        &-affecting {
            margin-bottom: 10px;
            line-height: 30px;
        }

        &-field {
            display: flex;
            color: $grey;
            font-size: $h6;

            &:not(:last-child) {
                margin-bottom: 15px;
            }

            &-key {
                flex: 0 0 100px;
                font-weight: 700;
            }
        }
    }

    &__actions {
        padding: 0 17px;
        margin-right: -20px;
        position: relative;

        ._expanded & {
            align-self: flex-start;
        }

        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: -16px;
            height: 60px;
            width: 1px;
            background-color: $light-grey;

            ._expanded & {
                top: -20px;
                height: 59px;
            }
        }
    }

    &__amount {
        margin-left: auto;
        margin-right: 20px;
        margin-top: 2px;
        width: 35px;
        height: 35px;
        background-color: $white;
        color: $green;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }
}
