.f-add-user-form {
    &__phone-code {
        width: 320px;
        margin-right: 20px;
    }

    &__phone {
        flex-grow: 1;
    }

    &__status {
        display: flex;

        &-text {
            align-items: center;
            display: flex;
        }

        &-status {
            font-weight: bold;
            text-transform: capitalize;
            align-items: center;
            display: flex;
            padding-left: 10px;
        }

        &-button {
            margin-left: 10px;
        }
    }
}
