@import "../../../styles/variables";

.b-object-details-table {
    $first-column-width: 180px;
    $last-column-width-lg: 151px;
    $last-column-width-sm: 71px;

    &__wrapper {
        margin-top: 57px;
        margin-bottom: 24px;
        position: relative;

        &::after {
            content: "";

            content: "";
            position: absolute;
            left: 100%;
            top: 0;
            bottom: 0;
            width: 1000px;
            background-color: #f5f6fa;
        }

        .b-table {
            &__wrapper {
                border-radius: $border-radius-normal $border-radius-normal 0 0;
                margin-bottom: 0;
            }
        }
    }

    .b-table__head {
        border-bottom: 1px solid $table-border-color;
    }

    .b-table__row {
        &._head {
            .b-table__cell {
                &:first-child,
                &:nth-child(2) {
                    height: 49px;
                    transform: translate3d(0, 1px, 0);
                    padding: 15px 15px;
                    border: none;
                    background-color: $white;
                }
            }
        }

        &:not(._head) {
            &:hover {
                .b-table__cell:first-child,
                .b-table__cell:nth-child(2) {
                    background-color: $white;
                    box-shadow: 0 5px 20px rgba(54, 56, 64, 0.1);
                }
            }
        }

        &._no-edit {
            .b-table__cell:nth-child(2) {
                width: $last-column-width-sm;
            }

            .b-table__cell:last-child {
                padding-right: #{$last-column-width-sm + 15px};
            }
        }
    }

    .b-table__cell {
        white-space: nowrap;

        .f-select__wrapper,
        .f-input__wrapper {
            max-width: 450px;
        }

        &:first-child {
            position: absolute;
            transform: translate3d(0, 1px, 0);
            width: $first-column-width;
            height: 39px;
            border: none;
            padding: 10px 15px;
            z-index: 3;

            ::after {
                content: "";
                position: absolute;
                width: $first-column-width;
                height: 1px;
                background-color: $table-border-color;
                bottom: -1px;
                left: 0;
            }
        }

        &:nth-child(2) {
            position: absolute;
            right: 1px;
            transform: translate3d(0, 1px, 0);
            width: $last-column-width-lg;
            height: 39px;
            border: none;
            padding: 4px 15px;
            z-index: 1;
        }

        &:nth-child(3) {
            padding-left: #{$first-column-width + 15px};
        }

        &:last-child {
            padding-right: $last-column-width-lg + 15px;
        }

        &:nth-child(1),
        &:nth-child(2) {
            padding-right: 0;
        }

        &__inline-input {
            padding: 7px 15px;
            height: 30px;
            min-width: 200px;
        }

        &__inline-phone {
            display: flex;
            justify-content: space-between;
            width: 450px;

            &-code {
                width: 240px;
            }

            &-number {
                width: 200px;
            }
        }
    }

    .b-table__body .b-table__cell {
        &:first-child {
            background-color: #f9fafc;
            border-right: 1px solid $table-border-color;
        }

        &:nth-child(2) {
            background-color: #f9fafc;
            border-left: 1px solid $table-border-color;
            right: -1px;
            border-right: 1px solid $table-border-color;
        }
    }

    &__actions {
        height: 100%;
    }

    &__add-detail-form {
        border: 1px solid $table-border-color;
        border-radius: 0 0 $border-radius-normal $border-radius-normal;
        background-color: #fff;
        margin-top: -1px;
    }

    &__column-select {
        margin-left: auto;
    }

    &__detail-label {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
