@import "../../../styles/variables";

.b-export {
    &__header {
        margin: 50px 0 20px;

        &-select {
            width: 209px;
            margin-right: 20px;
        }
    }

    &__remove-field {
        margin-bottom: 20px;
    }
}
