@import "../../../styles/variables";

.b-organization-contract {
    &__wrapper {
    }

    &__header {
        padding: 16px 15px;
        border: 1px solid $light-grey;
        border-top-left-radius: $border-radius-normal;
        border-top-right-radius: $border-radius-normal;
        background-color: $white;
    }
}
