@import "../../../styles/variables";
@import "../../../styles/mixins";

.b-notification-table {
    &__wrapper {
        @include shadow-small;
    }
    &__cell {
        height: 40px;
        &._info {
            width: 290px;
        }
        &._actions {
            width: 80px;
            padding: 0;
            position: relative;
        }
    }
    &__actions {
        display: flex;
        justify-content: center;
        align-items: center;
        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 1px;
            background-color: $table-border-color;
        }
    }
}
