@import "../../../styles/variables";

.b-file-preview-modal {
    .b-modal__window {
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
    }

    .b-modal__content {
        height: 100%;
    }

    &__preview {
        width: 100%;
        height: calc(100% - 65px);
        margin-bottom: 15px;
        object-fit: contain;
    }
}
