@import "../../styles/variables";

.app {
    background-color: $app-background;
    padding: $header-app-height 0 100px;
    position: relative;

    &__copyright {
        position: absolute;
        bottom: 30px;
        left: 0;
        width: 100%;
    }
}
