@import "../../../styles/variables";
@import "../../../styles/mixins";

.b-filter {
    z-index: 4;
    &__dropdowns-wrapper {
        margin-right: 20px;
    }

    &__element {
        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    &-dropdown {
        &__wrapper {
            @include shadow-default;
            position: relative;
            border-radius: $border-radius-normal;

            &:not(:last-child) {
                margin-right: 20px;
            }
        }

        &__button {
            width: 248px;
            position: relative;
            color: $grey;
            text-transform: uppercase;
            justify-content: space-around;
            box-shadow: none;

            ._small & {
                width: 198px;
            }

            ._opened & {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                border-color: $primary;
            }

            &:after {
                content: "";
                pointer-events: none;
                width: 9px;
                height: 6px;
                background-repeat: no-repeat;
                background-position: center;
                background-image: url("../../../icons/dropdownArrow.svg");
                transition: transform $transition-default;

                ._opened & {
                    transform: rotate(-180deg);
                }
            }
        }

        &__content {
            position: absolute;
            background-color: $white;
            z-index: $filter-dropdown-z-index;
            padding: 10px;
            width: 100%;
            top: 100%;
            left: 0;
            z-index: 50;
            border: 1px solid $light-grey;
            border-top: 0;
            border-bottom-left-radius: $border-radius-normal;
            border-bottom-right-radius: $border-radius-normal;
        }

        &__results {
            padding: 5px 10px 15px;

            &-item {
                display: block;
                width: 100%;
                text-align: left;
                font-size: $h6;
                text-transform: uppercase;
                font-weight: 700;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                &:not(:last-child) {
                    margin-bottom: 25px;
                }

                &._reset {
                    color: $red;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }

    &__clocks {
        &:not(:last-child) {
            margin-right: 22px;
        }
    }
}
