@import "../../../styles/variables";

.b-pros {
    padding: 85px 0;

    &__img {
        height: 223px;
        margin-bottom: 23px;
        border-radius: $border-radius-normal;
        overflow: hidden;
    }

    &__title {
        margin-bottom: 0.3em;
    }

    &__subtitle {
        line-height: 1.5;
    }
}
