@import "../../../styles/variables";
@import "../../../styles/mixins";

.b-admin-organizations-table {
    &__img {
        width: 50px;
        height: 50px;
        flex: 0 0 50px;
        border-radius: 50%;
        border: 1px solid #dfe1eb;
        margin-right: 14px;
    }
    &__name {
        color: $black;
    }
    &__cell {
        &._name {
            width: 250px;
        }
        &._type {
            width: 150px;
        }
        &._address {
            width: 300px;
        }
        &._actions-cell {
            width: 54px;
        }
    }
}
