@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.b-object-admin {
    &__title {
        margin-top: 50px;
        margin-bottom: 15px;
    }

    &-table {
    }

    &-summary {
        @include shadow-small;
        flex: 1 0 272px;
        border: 1px solid $light-grey;
        border-radius: $border-radius-normal;
        overflow: hidden;

        &:not(:last-child) {
            margin-right: 25px;
        }

        &__icon {
            &-container {
                height: 170px;
                background-color: $white;
            }

            &-wrapper {
                width: 110px;
                height: 110px;
                background: linear-gradient(-45deg, #fafafc 0, #fafafc 50%, #f0f1f7 51%, #f0f1f7 100%);
                border-radius: 50%;
            }
        }

        &__info {
            padding: 15px 20px 26px;
            background-color: #fafbfc;
            flex-grow: 1;
        }

        &__amount {
            min-height: 55px;
        }

        &__description {
        }
    }

    &-table {
        flex-grow: 1;
        align-self: flex-start;

        .b-table__cell:first-child {
            width: 221px;
        }

        .b-table__body .b-table__cell:first-child {
            border-right: 1px solid $light-grey;
        }
    }
}
