@import "../../styles/variables";

$tasks-header-height: 77px;
$tasks-transition-duration: 0.3s;
$tasks-transition: $tasks-transition-duration ease;

.b-tasks {
    position: fixed;
    top: $header-app-height;
    left: 0;
    height: calc(100% - #{$header-app-height});
    z-index: $tasks-z-index;
    width: 654px;
    transform: translate3d(-100%, 0, 0);
    transition: transform $tasks-transition;

    &._opened {
        transform: none;
    }

    &__open-button {
        position: absolute;
        left: 100%;
        top: 223px;
        width: 50px;
        height: 50px;
        background-color: $primary;
        border-top-right-radius: $border-radius-normal;
        border-bottom-right-radius: $border-radius-normal;
        padding: 8px;
        transition: background-color $transition-default, opacity $tasks-transition $tasks-transition-duration;

        &:hover {
            background-color: darken($primary, $button-hover-color-change-ratio);
        }

        ._opened & {
            opacity: 0;
            pointer-events: none;
        }

        &-icon {
            width: 33px;
            height: 33px;
            padding: 7px 8px 6px;
            background-color: transparentize(rgba(255, 255, 255, 0.2), 0.7);
            border: 1px solid transparentize($white, 0.7);
            border-radius: 50%;
        }
    }

    &__header {
        background-color: $ghost-white;
        border-bottom: 1px solid $light-grey;
        padding: 21px 20px 21px 55px;
        height: $tasks-header-height;

        &-switch {
            margin-left: auto;
        }

        &-back {
            margin-left: auto;
            margin-top: 3px;
        }
    }

    &__list {
        background-color: $white;
        overflow-y: auto;
        height: calc(100% - #{$tasks-header-height});
    }

    &__backdrop {
        position: fixed;
        top: $header-app-height;
        left: 0;
        width: 100vw;
        height: calc(100vh - #{$header-app-height});
        background-color: transparentize(#7b7b7d, 0.3);
        z-index: #{$tasks-z-index - 1};
        pointer-events: none;
        opacity: 0;
        transition: opacity $transition-default;

        &._opened {
            opacity: 1;
            pointer-events: auto;
        }
    }

    &__load-more-button {
        margin: 34px auto 42px 116px;
        width: 165px;
    }
}
