@import "../../../styles/variables";
@import "../../../styles/mixins";

.b-related-object {
    margin-bottom: 50px;
    overflow: hidden;

    &__search {
        width: 575px;
    }

    &__action {
        height: 35px;
        float: right;
    }

    &__h3 {
        flex: 1;
    }

    &-table {
        margin-top: 20px;

        &__amount {
            width: 35px;
            height: 35px;
            margin-left: 10px;
            background-color: #fafbfc;
            border-radius: 50%;

            &._white {
                background-color: $white;
                width: 30px;
                height: 30px;
                transform: scale(calc(35 / 30));
                transform-origin: center center;
            }
        }

        .b-table__cell {
            &:first-child {
                width: 370px;
            }
        }

        &-row {
            &-group {
                height: 60px;
                position: relative;

                &._expanded {
                    height: 40px;

                    .b-table__cell {
                        padding-bottom: 0;
                        padding-top: 0;
                    }
                }

                .b-table__cell {
                    padding-bottom: 20px;
                    padding-top: 0;
                }

                &__icon {
                    margin-right: 10px;
                    width: 30px;
                    height: 30px;
                }

                &__collapse {
                    position: absolute;
                    top: 40px;
                    left: 0;
                    width: 100vw;
                    height: 20px;
                    background-color: $white;
                    border-top: 1px solid $light-grey;

                    @include collapsing;

                    &:before {
                        top: 0;
                        left: 20px;
                    }

                    &:after {
                        top: 10px;
                        left: 56px;
                    }

                    &-button {
                        transition: transform $transition-default;

                        ._expanded & {
                            transform: rotate(-180deg);
                        }
                    }
                }
            }

            &__actions {
                height: 40px;
                padding-left: 20px;
                border-left: 1px solid $light-grey;
                margin-left: auto;
            }
        }

        &__expanded {
            padding-left: 30px;
        }

        &__actions-cell {
            padding-top: 0;
            padding-bottom: 0;
        }

        &._simple {
            .b-table__cell {
                &:first-child {
                    width: 230px;
                }
            }
        }
    }
}
