@import "../../styles/variables";
@import "../../styles/mixins";

.b-maps-block {
    position: relative;

    &__wrapper {
        position: relative;
    }

    &__search {
        position: absolute;
        top: 20px;
        left: 20px;
        right: 20px;
        z-index: $maps-block-search-z-index;
    }

    &__map-container {
        height: 496px;
        width: 50%;
    }

    &__separator {
        position: absolute;
        top: 0;
        left: calc(50% - 10px);
        width: 20px;
        height: 100%;
        z-index: 1;
        align-self: stretch;
        background-color: $white;
        background-repeat: no-repeat;
        background-image: url("separator.svg");
        background-position: center;
        cursor: col-resize;
    }

    &__popup {
        padding: 12px;
        border-radius: $border-radius-normal;
        background-color: $white;
        font-size: 12px;
        position: relative;
        display: none;

        &._initialized {
            display: block;
        }
    }
}
