@import "../../../styles/variables";
@import "../../../styles/mixins";

.b-related-users {
    &__wrapper {
        @include shadow-small;
    }
    &__cell {
        &._name {
            width: 275px;
        }
        &._actions {
            padding: 0 15px;
            position: relative;
            width: 123px;
        }
    }
}
