.b-file-name {
    &__type {
        &-icon {
            margin-right: 10px;

            &._small {
                width: 30px;
                height: 30px;
            }
        }
    }

    &__type,
    &__name {
        line-height: 1.3;
        max-width: 500px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
