@import "../../../styles/variables";
@import "../../../styles/mixins";

.b-organization-owner {
    &__wrapper {
        @include shadow-small;
        border: 1px solid $light-grey;
        border-radius: $border-radius-normal;
        overflow: hidden;
        background-color: $white;
    }

    &__header {
        background-color: $white;
        border-bottom: 1px solid $light-grey;
        padding: 16px 10px;
    }

    &__content {
        padding: 5px 10px 58px;
        background-color: transparentize($ghost-white, 0.5);
    }

    &__image {
        width: 50px;
        height: 50px;
        flex: 0 0 50px;
        border-radius: 50%;
        border: 1px solid $light-grey;
        margin-right: 10px;

        &._replace {
            user-select: none;
            background-color: #e6edff;
            border-color: $primary;
        }
    }

    &__name {
        margin-bottom: 16px;
    }

    &__contact {
        color: $grey;
        font-size: $h6;
        display: flex;
        padding-right: 45px;

        &:not(:last-child) {
            margin-bottom: 13px;
        }

        &-field {
            min-width: 60px;
            font-weight: 700;
        }
    }

    &__actions {
        align-self: flex-start;
        padding: 20px 20px 10px;
        margin-top: -5px;
        margin-right: -10px;
        border-left: 1px solid $light-grey;
    }
    &__info {
        width: 100%;
    }
}
