@import "../../../styles/variables";

.f-batch-basic-details {
    &__title {
        margin-top: 5px;
        margin-bottom: 40px;
    }

    &__row {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 10px;
        }

        &-index {
            width: 70px;
            height: 70px;
            flex: 0 0 70px;
            margin-right: 20px;
            background-color: #e6edff;
            color: #afc4fb;
            font-size: 36px;
            border-radius: $border-radius-normal;
        }

        &-caption {
            margin-left: 5px;
        }

        &-label {
            width: 100%;

            &:not(:last-child) {
                margin-right: 20px;
            }

            &._sq-ft {
                width: 189px;
            }

            &._serial-number {
                width: 172px;
            }

            .f-caption {
                margin-bottom: 3px;
            }
        }

        &-edit {
            width: 147px;
        }
    }
}
