@import "../../../styles/variables";

.b-add-file-modal {
    &._step-two {
        .b-modal__window {
            min-width: 1150px;
        }
    }

    &__footer {
        &-button {
            .icon_nextArrow {
                transform: rotate(-90deg);
            }
        }
    }

    &__target {
        margin-bottom: 43px;
    }

    &__back {
        top: 20px;
        left: 20px;

        &:hover {
            .b-add-file-modal__back-icon {
                opacity: 1;
            }
        }

        &-icon {
            margin-right: 7px;
            opacity: 0.5;
            transition: opacity $transition-default;
            transform: rotate(-90deg);
        }
    }

    &__step-2-caption {
        margin-top: 20px;
    }

    &__confirm {
        &-title {
            margin-bottom: 20px;
        }

        &-button {
            &:not(:last-child) {
                margin-right: 20px;
            }
        }
    }
}
