@import "../../../../../styles/variables";
@import "../../../../../styles/mixins";

.b-admin-organization-settings {
    &__actions {
        display: flex;
        padding-bottom: 10px;

        &-left {
            width: 85%;
        }

        &-right {
            width: 15%;
        }

        &-button {
            float: right;
            margin-bottom: 10px;

            &._suspend {
                color: $red;
            }
            &._convert {
                color: $primary;
            }
            &._delete {
                color: $red;
            }
        }
    }
    &._standalone {
        padding-top: 30px;
    }
    &__subscriptions {
        display: flex;
        margin: 0 -10px;
        &-item {
            flex-grow: 1;
            width: 0;
            padding: 0 13px;
        }
    }
    &__delete {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 20px;
        &-button {
            color: $red;
        }
    }
}
