@import "../../../styles/variables";
@import "../../../styles/mixins";

.f-upload-image {
    &__title {
        margin-bottom: 20px;
    }
    &__crop-outer {
        margin-bottom: 20px;
    }

    &__loader {
        text-align: center;
    }
}
