@import "../../../styles/variables";
@import "../../../styles/mixins";

.Pagination {
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 8px;

    &-item,
    &-button {
        cursor: default;
    }

    &-button {
        @include shadow-default;
        font-size: 12px;
        border: 1px solid $light-grey;
        border-radius: 25px;
        height: 50px;
        min-width: 50px;
        background-color: $white;
        color: $black;
        transition: background-color 0.15s ease-in-out;
        font-family: "Noto Sans", sans-serif;
        margin: 0 5px 0 5px;

        &__disabled {
            a {
                @include shadow-xsmall;
                color: #e2e2e2;

                &:hover {
                    background-color: lighten($white, $button-hover-color-change-ratio);
                }
            }
        }
        &__primary {
            background-color: $blue;
            border-color: $blue;
            box-shadow: none;
            color: $white;

            &:hover {
                background-color: $blue;
                border-color: $blue;
                box-shadow: none;
            }
        }
    }
}
