.b-dynamic-info-row {
    &__show-more-btn {
        min-width: 165px;

        &._expanded {
            .button__icon {
                transform: rotate(180deg);
            }
        }
    }

    &__actions {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}
