@import "../../../styles/variables";

$modal-padding: 20px;

.b-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $modal-z-index;
    padding-right: 15px;

    &__backdrop {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: transparentize($black, 0.5);
    }

    &__window {
        width: 585px;
        height: auto;
        max-height: calc(100% - 40px);
        overflow-y: auto;
        background-color: $white;
        padding: 40px $modal-padding $modal-padding;
        border-radius: $border-radius-normal;
        position: relative;

        &._overflow-visible {
            overflow: visible;
        }

        &._overflow-hidden {
            overflow: hidden;
        }
    }

    &__close {
        position: absolute;
        top: $modal-padding;
        right: $modal-padding;
        opacity: 0.5;
        transition: opacity $transition-default;

        &:hover {
            opacity: 1;
        }

        &-icon {
            transform: rotate(45deg);
        }
    }

    &__footer {
        margin: 20px -20px -20px;
        padding: 20px;
        border-top: 1px solid $light-grey;
        display: flex;
        flex-direction: column;
    }
}
