@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.f-file-input {
    &__wrapper {
        position: relative;
        background-color: #f9f9fb;
        height: 193px;
        border-radius: $border-radius-normal;
        border: 1px dashed $light-grey;
        margin-bottom: 20px;
        padding: 35px 20px 47px;
        text-align: center;
        transition: border $transition-default, background-color $transition-default;

        &._drag-over {
            border-color: $primary;
            border-style: solid;
            background-color: #e6edff;
        }

        &._error {
            border-color: $red;
        }
    }

    &__title {
        margin-bottom: 26px;
    }

    &__input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 1;
        cursor: pointer;
    }

    &__error {
        color: $red;
        position: absolute;
        top: 100%;
        left: 0;
        font-size: $h6;
        padding-top: 3px;
    }

    &__list {
        @include shadow-small;
        border: 1px solid $light-grey;
        border-radius: $border-radius-normal;
        margin-bottom: 20px;

        &-item {
            &:not(:last-child) {
                border-bottom: 1px solid $light-grey;
            }
        }

        &-info {
            padding: 11px;
        }

        &-icon {
            margin-right: 10px;
        }

        &-remove {
            display: flex;
            align-items: center;
            justify-content: center;
            align-self: stretch;
            width: 60px;
            border-left: 1px solid $light-grey;

            &-icon {
                transform: scale(1.8);
            }
        }
    }
}
