@import "./variables";

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

button {
    border: none;
    background: none;
    user-select: none;
    font-size: inherit;

    * {
        pointer-events: none;
    }
}

ol,
ul {
    list-style: none;
}

input[type="button"],
input[type="submit"],
button {
    cursor: pointer;
    touch-action: manipulation;
    font-family: "Noto Sans", sans-serif;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: 0;
    outline: 0;
}

input,
textarea {
    resize: none;
    user-select: text;
}

a {
    text-decoration: none;
    color: inherit;
}

._none,
[aria-hidden="true"] {
    display: none;
}

[disabled] {
    cursor: not-allowed;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;

    &._app {
        padding-top: $header-app-height;
    }
}
