@import "variables";

$input-horizontal-padding: 20px;

@mixin input {
    width: 100%;
    height: $input-height;
    border: 1px solid $input-border-color;
    border-radius: $border-radius-normal;
    padding: 12px $input-horizontal-padding;
    font-size: $h5;
    transition: border-color $transition-default;
    font-family: "Noto Sans", sans-serif;
    background-color: $white;

    &._error {
        border-color: $red;
    }

    &::placeholder {
        opacity: 1;
        color: $grey;
    }

    &:disabled {
        background-color: #fafbfc;
    }
}

@mixin input-error {
    position: absolute;
    top: $input-height;
    left: 0;
    font-size: $h6;
    color: $red;
    line-height: 1;
    padding-top: 3px;
}

@mixin input-margin-bottom {
    &._margin-bottom-normal {
        margin-bottom: 20px;
    }

    &._margin-bottom-sm {
        margin-bottom: 10px;
    }
}

@mixin shadow-default {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
}

@mixin shadow-dropdown {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

@mixin shadow-dropdown-options {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

@mixin shadow-dropdown-options-top {
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
}

@mixin shadow-small {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.03);
}

@mixin shadow-xsmall {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.01);
}

@mixin collapsing {
    &:before {
        $left: 20px;
        content: "";
        position: absolute;
        width: calc(100% - #{$left});
        height: 10px;
        top: 100%;
        left: $left;
        background-color: #edeef3;
        border-bottom-left-radius: 10px;
        box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.04);
    }

    &:after {
        $left: 56px;
        content: "";
        position: absolute;
        width: calc(100% - #{$left});
        height: 10px;
        top: calc(100% + 10px);
        left: $left;
        background-color: #d5d7dd;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: $border-radius-normal;
    }
}
