@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.f-select {
    @include input;

    -webkit-appearance: none;
    color: $grey;
    padding: 12px 45px 12px $input-horizontal-padding;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: none;

    ._button & {
        text-transform: uppercase;
        font-weight: 700;
        font-size: $h6;
        padding-right: 30px;
    }

    &._selected {
        color: $black;
    }

    &[disabled] {
        color: $grey;
    }

    &._opened {
        @include shadow-dropdown;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-color: transparentize($white, 1);

        ._top & {
            border-radius: 0 0 $border-radius-normal $border-radius-normal;
            border-top: none;
            border-bottom: 1px solid $light-grey;
        }
    }

    &__error {
        @include input-error;
    }

    &__wrapper {
        @include input-margin-bottom;

        position: relative;
        border-radius: $border-radius-normal;
        height: $input-height;

        &:after {
            content: "";
            position: absolute;
            background-image: url("../../../../icons/selectArrows.svg");
            background-repeat: no-repeat;
            background-position: center;
            top: 18px;
            right: 18px;
            width: 9px;
            height: 15px;
            pointer-events: none;
        }

        &._button {
            @include shadow-default;

            &:after {
                background-image: url("../../../../icons/dropdownArrow.svg");
                right: 15px;
            }
        }
    }

    &__group-title {
        padding: 10px 0;
        margin-left: $input-horizontal-padding;
        border-bottom: 1px solid $light-grey;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__options-list {
        @include shadow-dropdown-options;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        max-height: 201px;
        overflow-y: auto;
        z-index: 1;
        background-color: $white;
        padding: 0;
        border: 1px solid $light-grey;
        border-top: none;
        border-bottom-right-radius: $border-radius-normal;
        border-bottom-left-radius: $border-radius-normal;
        z-index: 1000;

        ._with-search & {
            margin-top: 50px;
        }

        ._top & {
            @include shadow-dropdown-options-top;

            top: auto;
            bottom: 100%;
            border-top: 1px solid $light-grey;
            border-bottom: none;
            border-radius: $border-radius-normal $border-radius-normal 0 0;
        }

        ._top._with-search & {
            margin-bottom: 50px;
        }
    }

    &__search {
        z-index: 2;

        .f-input {
            border-radius: 0;
        }

        ._top & {
            position: absolute;
            left: 0;
            bottom: 100%;
            width: 100%;
        }
    }

    &__option-item {
        width: 100%;
        height: 50px;
        padding-left: $input-horizontal-padding;
        color: $grey;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;

        &._grouped {
            $grouped-item-indentation: 40px;

            padding-left: $grouped-item-indentation;

            &:not(:last-child) {
                &:after {
                    left: $grouped-item-indentation;
                    width: calc(100% - #{$grouped-item-indentation});
                }
            }
        }

        &:hover,
        &._selected {
            color: $black;
        }

        &._selected {
            background-color: transparentize($light-grey, 0.7);
        }

        &:not(:last-child) {
            &:after {
                content: "";
                position: absolute;
                top: calc(100% - 1px);
                left: $input-horizontal-padding;
                width: calc(100% - #{$input-horizontal-padding});
                height: 1px;
                background-color: $light-grey;
            }
        }
    }
}
