.f-admin-user {
    &__title {
        margin-bottom: 40px;
    }

    &__companies {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        button:not(:last-child) {
            margin-bottom: 5px;
        }
    }

    &__phone {
        display: flex;
        margin-top: 20px;

        &-code {
            width: 320px;
            margin-right: 20px;
        }

        &-number {
            flex-grow: 1;
        }
    }

    .f-input__wrapper {
        flex-grow: 1;
    }
}
