@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.b-admin-types-control {
    padding-top: 50px;
    &__row {
        margin-bottom: 50px;
    }
    &__header {
        margin-bottom: 10px;
    }
    &__search {
        width: 270px;
    }
}
