.b-object-history-table {
    &__wrapper {
        margin-top: 24px;

        .b-table__cell {
            padding: 24px;

            .b-table__details {
                display: inline-block;
            }

            .b-table__icon {
                float: left;
            }

            ._text_margin_up {
                margin-top: 1em;
            }
        }

        .b-table__body .b-table__cell {
            height: auto;
        }
    }

    &__icon {
        margin-right: 10px;
        height: 40px;
    }

    &__change {
        margin-top: 15px;
        margin-bottom: 3px;

        &-type {
            margin-top: -2px;
            margin-bottom: 2px;
        }
    }

    &__load-more-button {
        margin: 34px auto 42px 116px;
        width: 165px;
    }
}
