@import "../../../styles/variables";

.b-object-relation-table {
    &__actions {
        position: absolute;
        right: 0;
        top: 0;
        width: auto;
        height: 100%;
        padding: 0 15px;
        border-left: 1px solid $light-grey;

        & > *:not(:last-child) {
            margin-right: 10px;
        }
    }
}
