@import "../../../../styles/variables";

@keyframes searchQueryIn {
    from {
        transform: translate3d(0, -100%, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.b-search-query-row {
    background-color: $white;
    padding: 16px 0 17px;
    border-bottom: 1px solid $light-grey;
    border-top: 1px solid $light-grey;
    cursor: pointer;
    animation: searchQueryIn 0.3s ease forwards;

    &__build {
        flex-grow: 1;

        &-blocks {
            & > * {
                margin-right: 20px;
                margin-bottom: 20px;
            }
        }

        &-title {
            margin-bottom: 3px;
        }

        &-logical-ops {
            &__select {
                border: none;
                font-size: 14px;
            }
            .f-select._selected {
                color: #9fa2b4;
            }
        }

        &-button {
            padding: 0 20px;
        }

        &-input {
            flex-basis: 159px;
            flex-grow: 0;
        }
    }
}
