@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.b-subscription {
    padding: 30px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: $border-radius-normal;
    border: 1px solid $light-grey;
    background-color: #fff;
    height: 100%;
    position: relative;
    @include shadow-small;
    &._active {
        border-color: #a7bffd;
        background-color: $blue;
        .b-subscription {
            &__name,
            &__price,
            &__description {
                color: #fff;
            }
            &__description {
                &:after {
                    border-color: #a7bffd;
                }
            }
        }
    }
    &__name {
        font-size: $h5;
        color: $black;
        font-weight: 700;
        margin-bottom: 20px;
        text-transform: uppercase;
    }
    &__price {
        color: $blue;
        font-size: $h1;
        padding: 0 35px 0;
        margin-bottom: 35px;
        position: relative;
        &-currency {
            display: flex;
            align-items: center;
            position: absolute;
            right: 5px;
            top: 0;
            bottom: 0;
            margin: auto 0;
            font-size: $h6;
        }
    }
    &__description {
        width: 100%;
        color: $grey;
        font-size: $h6;
        padding: 20px 0 23px;
        text-align: center;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            left: -20px;
            right: -20px;
            top: 0;
            height: 1px;
            border-top: 1px solid $light-grey;
        }
    }
    &__button {
        margin-top: auto;
        min-width: 165px;
    }
}
