@import "../../../styles/variables";
@import "../../../styles/mixins";
@import "../../../styles/media";

.b-header-user {
    ._app & {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        padding-right: 20px;
    }

    &__info {
        overflow: hidden;

        &-company {
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &-wrapper {
            margin-right: 20px;
            position: relative;
            @include desktop-xs {
                display: none;
            }
        }
    }

    &__company {
        $size: 41px;

        width: $size;
        height: $size;
        flex: 0 0 $size;
        border-radius: 50%;
        background-color: #e6edff;
        border: 1px solid $primary;
        margin-right: 10px;

        &-button {
            cursor: default;
            padding: 14px 10px 15px 30px;
            width: 100%;

            &:disabled {
                cursor: not-allowed;
            }

            &._active {
                cursor: pointer;

                &:hover {
                    background-color: $ghost-white;
                }
            }
        }
    }

    &__companies {
        @include shadow-small;

        position: absolute;
        top: calc(100% + 16px);
        left: 0;
        width: 100%;
        height: auto;
        pointer-events: auto;
        background-color: $white;
        border-radius: $border-radius-normal;
        border: 1px solid $light-grey;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 45px;
            background-color: $white;
            width: 10px;
            height: 10px;
            transform: translate3d(0, -50%, 0) rotate(45deg);
            border-left: 1px solid $light-grey;
            border-top: 1px solid $light-grey;
            z-index: 0;
            pointer-events: none;
        }

        .b-header-user__company-button {
            z-index: 1;
            position: relative;
            border-bottom: 1px solid $light-grey;

            &:first-child {
                border-top-right-radius: $border-radius-normal;
                border-top-left-radius: $border-radius-normal;
            }

            &:last-child {
                border-bottom-right-radius: $border-radius-normal;
                border-bottom-left-radius: $border-radius-normal;
                border-bottom: none;
            }
        }
    }

    &__arrows {
        margin-left: 10px;
    }

    &__button:not(:last-child) {
        margin-right: 20px;
    }

    &__logout {
        margin: 10px 0;
    }
}
