@import "../../../styles/variables";

.b-object {
    border: 1px solid $light-grey;
    border-radius: $border-radius-normal;
    border-bottom-right-radius: 0;
    background-color: #fafbfc;

    &._expanded {
        border-radius: 0;
        border-bottom: 0;

        &:first-child {
            border-top-left-radius: $border-radius-normal;
            border-top-right-radius: $border-radius-normal;
        }
    }

    &__info {
        padding: 5px 10px;
    }

    &__icon {
        margin-right: 10px;
    }

    &__amount {
        width: 35px;
        height: 35px;
        background-color: $white;
        border-radius: 50%;
        margin-left: 10px;
    }

    &__actions {
        padding: 0 12px;
        align-self: stretch;
        border-left: 1px solid $light-grey;
    }
}
