.f-admin-meta {
    &__title {
        margin-bottom: 40px;
    }

    &__row {
        margin-bottom: 40px;

        &:last-child {
            margin-bottom: 20px;
        }
    }

    &__actions {
        & > *:not(:last-child) {
            margin-right: 20px;
        }
    }

    &__relationships-name {
        margin-bottom: 20px;
    }

    &__separator {
        margin: 0 10px;

        &-first {
            margin: 0px 10px 0px 0px;
        }
    }
}
