@import "../../../../../styles/variables";

.b-task-header {
    padding: 57px 0 50px;
    border-bottom: 1px solid $light-grey;

    &__top-row {
        margin-bottom: 15px;
    }

    &__event-icon {
        margin-right: 10px;
    }

    &__type {
        margin-left: auto;
    }

    &__expire {
        &-icon {
            margin-left: 15px;
            margin-right: 25px;
        }

        &-separator {
            font-size: 12px;
            display: inline-block;
            transform: translate3d(0, -6px, 0);
            margin: 0 10px;
        }
    }
}
