@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.b-admin-organizations {
    padding-top: 50px;
    &__header {
        margin-bottom: 20px;
    }
    &__search {
        width: 575px;
    }
    &__filter-switches {
        margin-bottom: 20px;
    }
    &__filter-switch {
        &:not(:last-child) {
            margin-right: 20px;
        }
        &-label {
            margin-right: 10px;
        }
    }
}

.b-admin-companies {
    &__search {
        width: 460px;
    }
}
