@import "../../../../styles/variables";
@import "../../../../styles/mixins";

$timeline-padding: 20px;
$timeline-inner-height: 45px;
$timeline-inner-padding: 4px;
$timeline-caption-base-width: 50px;

$timeline-blue-dot-margin: 6px;

@mixin bluedot {
    content: "";
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: $border-radius-normal;
    background-color: $primary;
}

@mixin blueline {
    content: "";
    position: absolute;
    height: 95px;
    width: 1px;
    background-color: $primary;
    transform: translate3d(0, -90%, 0);
}

.b-timeline {
    @include shadow-small;
    background-color: $white;
    border: 1px solid $light-grey;
    border-radius: $border-radius-normal;
    padding: $timeline-padding;

    &__loading {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    &__group {
        border: solid 1px red;
    }

    &__showbutton {
        text-align: center;
    }

    &__inner {
        background-color: $ghost-white;
        height: $timeline-inner-height;
        border: 1px solid $light-grey;
        border-radius: $timeline-inner-height / 2;
        padding: $timeline-inner-padding;
        position: relative;

        &-icon {
            margin-top: -40px;
            margin-left: 8px;
            cursor: pointer;
            position: absolute;

            &-label {
                position: absolute;
                display: flex;
                top: -10px;
                right: 50%;
                transform: translateX(50%) translateY(-100%);
                flex-wrap: wrap;
                width: 235px;
                z-index: 1000;
                background: #f5f6fae6;
                box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
                padding: 10px;
                border-radius: 10px;

                &::after {
                    content: "";
                    position: absolute;
                    bottom: -15px;
                    border-right: 7px solid transparent;
                    border-left: 7px solid transparent;
                    border-top: 7px solid #cfcfcf;
                    border-bottom: 7px solid transparent;
                    right: calc(50% - 7px);
                }

                .b-timeline__inner-icon {
                    position: relative;
                    margin-top: 0;
                }
            }
        }
    }

    &__captions {
        font-size: 12px;
        display: flex;
        justify-content: space-evenly;
        padding: 0 #{$timeline-inner-padding + $timeline-caption-base-width / 2};
        min-height: 50px;

        &-monthly {
            display: flex;
            justify-content: space-between;

            &__week {
                position: relative;
            }

            &__footer {
                text-align: center;
                color: $primary;
                text-transform: uppercase;
                font-size: 12px;
                padding-bottom: 25px;
            }
        }

        &--month {
            flex-wrap: wrap;
            justify-content: flex-start;
        }

        &-yearly {
            display: flex;
            justify-content: space-between;

            &__month {
                position: relative;
            }
        }

        &-caption {
            pointer-events: none;
            padding: 15px 0;
            color: $grey;
            position: relative;
            width: $timeline-caption-base-width;
            text-align: center;
            flex-grow: 1;

            &.oneMonth {
                width: $timeline-caption-base-width / 2;
            }

            &::before {
                content: "";
                position: absolute;
                width: 1px;
                height: 10px;
                top: 0px;
                left: 50%;
                background-color: $light-grey;
            }

            &.blue {
                &::before {
                    width: 1.2px;
                    top: -5px;
                    height: 17px;
                    background-color: $primary;
                }
                &::after {
                    left: 48%;
                    top: 11.5px;
                    content: "";
                    position: absolute;
                    width: 3px;
                    height: 3px;
                    border-radius: $border-radius-normal;
                    background-color: $primary;
                }
            }
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-content: center;
        padding: 0 20px;

        &-year {
            text-align: center;
            color: $primary;
            margin-bottom: 15px;
            border-bottom: 1px solid #dfe1eb;
        }

        &-text {
            position: relative;

            &:first-child {
                padding-left: $timeline-blue-dot-margin;

                &:before {
                    @include bluedot;

                    left: 0;
                    top: 50%;
                    transform: translate3d(0, -50%, 0);
                }

                &:after {
                    @include blueline;

                    left: 1px;
                }
            }

            &:last-child {
                padding-right: $timeline-blue-dot-margin;

                &:before {
                    @include bluedot;

                    right: 0;
                    top: 50%;
                    transform: translate3d(0, -50%, 0);
                }

                &:after {
                    @include blueline;

                    right: 1px;
                }
            }
        }
    }
}
