.b-content-header-address-modal {
    .b-modal__window {
        width: 1169px;
    }

    &__info {
        margin-bottom: 40px;

        &._editing {
            margin-bottom: 31px;
        }
    }

    &__pin {
        margin-right: 10px;
    }

    &__object-name {
        margin-bottom: 8px;
    }

    &__edit {
        &:hover {
            .button__icon {
                opacity: 1;
            }
        }

        .button__icon {
            opacity: 1;
        }
    }

    &__form {
        width: 100%;

        &-inputs {
            width: 350px;
        }

        &-actions {
            *:not(:last-child) {
                margin-right: 10px;
            }
        }
    }

    .b-maps-block {
        margin-left: -20px;
        margin-right: -20px;
    }

    &__links {
        padding-top: 33px;
        padding-bottom: 20px;
    }

    &__input {
        height: 36px;
        padding: 7px 15px;

        & + .f-input__error {
            top: 36px;
        }
    }

    &__autocomplete {
        position: relative;
        z-index: 1;
    }
}
