@import "../../styles/variables";
@import "../../styles/mixins";

.b-relational-list {
    max-width: 674px;

    &._installations {
        width: 575px;
    }

    &__wrapper {
        @include shadow-small;
        border: 1px solid $light-grey;
        border-radius: $border-radius-normal;
        overflow: hidden;
    }

    &__header {
        height: 50px;
        border-bottom: 1px solid $light-grey;
        background-color: $white;
        padding: 16px 20px;
    }

    &__body {
        padding: 4.5px 10px;
        position: relative;

        ._installations & {
            background-color: #fafbfc;
        }
    }

    &__logo {
        width: 50px;
        height: 50px;
        border: 1px solid $light-grey;
        border-radius: 50%;
        margin-right: 10px;
    }

    &__icon {
        margin-right: 10px;
    }

    &__name {
        margin-bottom: 0.2em;
    }

    &__actions {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        padding: 0 20px;
        border-left: 1px solid $light-grey;

        ._installations & {
            padding: 0 12px;
        }

        & > button:not(:last-child) {
            margin-right: 15px;
        }
    }

    &__group {
        display: flex;
        padding: 7px 0;
        position: relative;

        &:last-child {
            margin-bottom: 0;

            &:after {
                content: "";
                position: absolute;
                left: 1px;
                top: 0;
                width: 1px;
                height: 100vh;
                background-color: $grey;
                transform: translate3d(0, calc(-100% + 21px), 0);
            }
        }

        &-wrapper {
            overflow: hidden;
        }

        &-title {
            font-size: $h6;
            text-transform: uppercase;
            color: $grey;
            padding-top: 13px;
            padding-left: 20px;
            flex: 0 0 130px;
            position: relative;

            .icon_datepickerArrow {
                transform: rotate(-180deg) scale(0.7);
                margin-bottom: 1px;
            }

            // TODO: ?
            &:before {
                content: "";
                position: absolute;
                width: 4px;
                height: 4px;
                left: 8px;
                top: 19px;
                border-radius: 50%;
                background-color: $grey;
            }

            &:after {
                content: "";
                position: absolute;
                top: 13px;
                left: 0;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                border-bottom: 1px solid $grey;
                transform-origin: right center;
                transform: rotate(45deg);
            }
        }
    }
}
