@import "../../../styles/variables";

.file-icon {
    width: 38px;
    height: 38px;
    background-color: #e6edff;
    color: #afc4fb;
    font-size: 15px;
    border-radius: $border-radius-normal;
    margin-right: 10px;
}
