@import "../../../styles/variables";
@import "../../../styles/mixins";

.f-company-contacts {
    &__list {
        display: flex;
        margin: 0 -20px;
    }
    &__item {
        padding: 0 20px;
        &:not(:first-child) {
            position: relative;
            &:before {
                position: absolute;
                content: "";
                left: 0;
                top: 0;
                bottom: 0;
                height: 17px;
                margin: auto 0;
            }
            border-left: 1px solid $grey;
        }
    }
    &__edit {
        .f-company-contacts__actions {
            margin-left: 8px;
        }
    }
    &__view {
        padding: 5px 0;
        .f-company-contacts__actions {
            margin-left: 8px;
        }
    }
    &__input {
        padding: 7px 15px;
        height: 40px;
        min-width: 200px;
    }
    &__select {
        .f-select {
            height: 40px;
        }

        .f-select__options-list {
            margin-top: 40px;
        }

        &:after {
            top: 12px;
        }
    }
    .f-input__error {
        top: 40px;
    }
    &__actions {
        display: flex;
        margin: 0 -3px;
        &-item {
            padding: 0 3px;
        }
    }
    &__fields {
        display: flex;
        margin: 0 -5px;
    }
    &__fields-item {
        padding: 0 5px;
    }
}
