.b-events-timeline {
    &__filter {
        &-switcher {
            display: flex;
            align-items: center;
            margin-right: 20px;

            &-switch {
                margin-top: 5px;
                margin-left: 10px;
                margin-right: 10px;
            }
        }
    }
}
