.b-contact-form {
    &__container {
        background: url("background.jpg");
        padding: 190px 0 30px;
    }

    &__title {
        margin-bottom: 30px;
    }

    &__copyright {
        margin-top: 180px;
    }

    &__privacy {
        &-icon {
            width: 21px;
            height: 28px;
            opacity: 0.7;
            margin-right: 13px;
        }

        &-text {
            max-width: 325px;
            opacity: 0.7;
            margin-right: auto;
            line-height: 1.2;
        }
    }

    &__submit {
        max-width: 151px;
        width: 151px;
    }

    &__contacts {
        &-group {
            margin-bottom: 30px;
        }

        &-info {
            opacity: 0.7;
            line-height: 22px;
        }

        &-title {
            margin-bottom: 0.5em;
        }
    }
}
