@import "../../../../styles/variables";

.b-tab {
    width: 135px;
    color: $grey;
    font-size: $h5;
    font-weight: 700;
    text-align: center;
    border-right: 1px solid $table-border-color;
    cursor: pointer;
    &._active {
        color: $primary;
        border-bottom: 1px solid #fff;
        margin-bottom: -1px;
        .b-tab__inner {
            background-color: transparentize($ghost-white, 0.5);
        }
    }
    &__inner {
        padding: 15px 0;
        margin-bottom: -1px;
    }
}
