@import "../../../styles/variables";

.b-key-contact {
    display: flex;
    border: 1px solid $light-grey;
    border-radius: $border-radius-normal;
    background-color: #fafbfc;
    &__info {
        display: flex;
        align-items: center;
        padding: 4px 10px;
        flex-grow: 1;
        &-img {
            margin-right: 10px;
            width: 40px;
            height: 40px;
            flex-shrink: 0;
        }
        &-name {
            flex-grow: 1;
        }
    }
    &__actions {
        margin-left: auto;
        padding-left: 20px;
        padding-right: 10px;
        position: relative;
        flex-shrink: 0;
        .simple-button {
            width: 27px;
        }
        &:before {
            content: "";
            position: absolute;
            width: 1px;
            height: 100%;
            top: 0;
            left: 0;
            bottom: 0;
            background-color: $light-grey;
        }
    }
}
