.f-add-relation {
    &__title {
        margin-bottom: 25px;
    }

    &__separator {
        border-bottom: 1px solid #dfe1eb;
        margin-bottom: 20px;
    }

    &__add-new-button {
        margin-bottom: 20px;
    }
}
