@import "../../../styles/variables";

.b-landing-hero {
    position: relative;
    background-color: $aliceblue;
    min-height: 710px;
    overflow: hidden;
    padding: 55px 2em 0;

    &__content {
        position: relative;
        z-index: 1;
    }

    &__title {
        line-height: 1;
    }

    &__subtitle {
        max-width: 553px;
        margin: 1em 0;
    }

    &__background {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        background-size: cover;
    }
}
