.b-confirm-modal {
    &__title {
        margin-bottom: 20px;
    }

    &__description {
        white-space: normal;
    }

    &__actions {
        margin-top: 20px;

        &-button {
            &:not(:last-child) {
                margin-right: 20px;
            }
        }
    }
}
