@import "../../../styles/variables";

.f-batch-add-object {
    &__number {
        width: 266px;
    }
}

.b-belonging-table {
    .b-table__cell {
        padding-left: 10px;
        padding-right: 10px;

        &:first-child {
            width: 353px;
        }
    }

    &__actions {
        margin-left: auto;
        padding: 0 16px;
        border-left: 1px solid $light-grey;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
    }
}
