@import "../../../styles/variables";

.f-actions {
    & > *:not(:last-child) {
        margin-right: 20px;
    }
}

.f-caption {
    margin-bottom: 6px;
    font-size: $h6;
    font-weight: 700;
    color: $grey;
    text-transform: uppercase;
}

.f-accordion {
    padding: $accordion-content-padding;

    &__footer {
        padding: $accordion-content-padding;
        background-color: $white;
        border-top: 1px solid $light-grey;
        border-bottom-left-radius: $border-radius-normal;
        border-bottom-right-radius: $border-radius-normal;
        &-list {
            display: flex;
            margin: 0 -8px;
        }
        &-item {
            padding: 0 8px;

            &._skip {
                margin-left: auto;
            }
        }
    }
}
