@import "../../styles/variables";
@import "../../styles/mixins";

.b-content-header {
    padding-top: 50px;

    &__logo-outer {
        margin-right: 24px;
        margin-bottom: 27px;
        margin-top: 23px;
        position: relative;
    }

    &__logo {
        width: 65px;
        height: 65px;
        border-radius: 50%;
        border: 1px solid $light-grey;
        background-color: $white;
    }

    &__header-right {
        margin-left: auto;
        text-overflow: ellipsis;
        width: 300px;
    }

    &__update {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        opacity: 0;
        transition: opacity $transition-default;
        background-color: transparentize($white, 0.3);
        &:hover {
            opacity: 1;
        }
        &-img {
            width: 31px;
            height: 31px;
        }
    }

    &__building-icon-container {
        display: flex;
        align-items: center;
    }

    &._building {
        padding-top: 0;
        background-color: #fafafc;
        @include shadow-small;
    }

    &__address-span {
        margin-left: 5px;

        button {
            padding-right: 5px;
        }
    }

    &._not-last-group {
        &:not(:last-child) {
            padding-bottom: 30px;
        }
    }

    &._new-object {
        margin-bottom: 31px;
    }

    &__icon {
        margin-right: 24px;

        ._building & {
            width: 65px;
            height: 65px;
            flex: 0 0 65px;
            padding: 5px;
            background-color: #f0f1f7;
            border-radius: 50%;
            border: 1px solid $grey;
        }
    }

    &__name {
        &-wrapper {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 450px;
        }

        &-edit {
            margin-left: 10px;
            margin-top: 5px;
        }

        &._no-margin {
            margin-bottom: 0;
        }
    }

    &__building {
        &-info-row {
            padding: 10px 0;
            border-bottom: 1px solid $light-grey;
        }
        &-icon {
            margin-right: 10px;
        }
    }

    &__image {
        width: 140px;
        height: 115px;
        flex: 0 0 140px;
        margin-left: auto;
        margin-right: 67px;
        border-radius: $border-radius-normal;
        overflow: hidden;
        cursor: pointer;

        &._button {
            border: 1px dashed $light-grey;
            border-radius: $border-radius-normal;
        }
    }

    &__nav {
        padding: 25px 0;
        border-bottom: 1px solid $light-grey;

        &-link {
            display: flex;
            align-items: center;

            &:not(:first-child) {
                margin-right: 25px;
            }

            &-icon {
                margin-right: 10px;
            }
        }
    }

    &__address {
        &-icon {
            margin-left: 5px;
            margin-right: 5px;
        }
        &-text {
            margin-left: 5px;
        }
    }

    &__actions {
        margin-left: auto;
        padding-top: 20px;
        &-button {
            width: 100%;
            &:not(:last-child) {
                margin-bottom: 10px;
            }
            &._suspend {
                color: $red;
            }
            &._convert {
                color: $primary;
            }
            &._delete {
                margin-top: 10px;
                color: $red;
            }
        }
    }

    &__manufacturer-logo {
        width: 65px;
        height: 65px;
        border-radius: 50%;
        border: 1px solid $light-grey;
        margin-right: 24px;
        margin-bottom: 27px;
        margin-top: 23px;
    }

    &__contacts-separator {
        margin: 0 7px;
    }

    &__parent-links {
        margin-top: 5px;
    }

    &__highlights {
        width: 300px;
        margin-left: auto;
        &._vertical {
            flex-direction: column;
        }
    }

    &__highlight {
        overflow: hidden;
        text-overflow: ellipsis;
        width: 50%;
        max-height: 100px;

        &:not(:last-child) {
            margin-right: 20px;
        }

        ._vertical & {
            width: 100%;
            white-space: nowrap;
            &:not(:last-child) {
                margin-right: 0;
                margin-bottom: 8px;
            }
        }
    }
}
