@import "../../styles/variables";
@import "../../styles/mixins";

.b-restore-password {
    padding: 60px 0;
    background-color: $ghost-white;
    position: relative;

    &__form {
        min-width: 585px;
    }

    &__copyright {
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 15px;
        text-align: center;
    }

    &__footer {
        padding: 20px;
        border-top: 1px solid $light-grey;
    }

    &__action {
        width: 100%;
    }
}
