@import "../../../styles/variables";
@import "../../../styles/mixins";

.b-building-teams {
    &__wrapper {
        @include shadow-small;
    }
    &__body {
        .b-building-teams__cell {
            vertical-align: top;
            &._users,
            &._objects {
                padding-bottom: 0;
            }
        }
    }
    &__cell {
        padding-top: 10px;
        padding-bottom: 10px;
        &-item {
            padding-bottom: 10px;
        }
        &._actions {
            padding: 0 15px;
            position: relative;
            width: 123px;
        }
    }
    &__actions {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        margin-left: auto;
        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 1px;
            background-color: $table-border-color;
        }
    }
}
