@import "../../styles/variables";

.b-dashboard {
    &:first-child {
        padding-top: 50px;
    }

    &__title {
        margin-bottom: 20px;
    }

    &__sort-icon {
        margin-left: 3px;
        display: inline-block;
        vertical-align: middle;
    }
}
