.b-image {
    width: 100%;
    height: 100%;

    &._cover {
        object-fit: cover;
    }

    &._contain {
        object-fit: contain;
    }

    &__container {
        position: relative;
        overflow: hidden;
    }
}
