@import "../../styles/variables";

.b-organization {
    padding: 50px 0;
    border-bottom: 1px solid $light-grey;

    &__title {
        margin-bottom: 25px;
    }

    &__row {
        margin-bottom: 50px;
    }
}
