@import "../../../styles/variables";

.b-swiss-map-autocomplete {
    &__wrapper {
        &._opened {
            .f-input {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
    }

    &__results {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        max-height: 200px;
        overflow-y: auto;
        background-color: $white;
        border-bottom-left-radius: $border-radius-normal;
        border-bottom-right-radius: $border-radius-normal;
        border: 1px solid $light-grey;
        border-top: none;

        &-item {
            width: 100%;
            padding: 5px 20px;
            text-align: left;

            &:focus {
                background-color: darken($white, 5);
            }
        }
    }
}
