@import "../../../styles/variables";

.f-organization {
    &__title {
        .b-modal & {
            &:first-child {
                margin-top: 0;
            }

            font-size: $h1;
            margin-bottom: 40px;
        }

        margin-top: 50px;
        margin-bottom: 15px;

        &:first-child {
            margin-top: 30px;
        }
    }
    &__contact-info-title {
        margin-top: 50px;
    }
    .b-key-contacts {
        margin-top: 50px;
    }
}
