@import "../../styles/variables";

@keyframes searchIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.b-search {
    position: fixed;
    top: $header-app-height;
    left: 0;
    width: 100%;
    height: calc(100% - #{$header-app-height});
    z-index: $search-z-index;
    background-color: #fafbfc;
    animation: searchIn 0.3s ease forwards;
    overflow-y: auto;

    &__group-title {
        &._first {
            margin-top: 40px;
        }
    }
}
