@import "../../../styles/variables";

.b-task {
    display: flex;
    padding: 26px 38px 30px 55px;
    transition: opacity 0.3s linear, transform 1s linear;
    background-color: #fff;

    &._hidden {
        transform: translateX(-100%);
        position: absolute;
        opacity: 0;
    }

    &:not(:last-child) {
        border-bottom: 1px solid $light-grey;
    }

    &__checkbox {
        -webkit-appearance: none;
        width: 40px;
        height: 40px;
        flex: 0 0 40px;
        margin-right: 20px;
        border: 2px solid $light-grey;
        border-radius: 50%;
        background-position: center 55%;
        background-repeat: no-repeat;
        cursor: pointer;
        margin-top: 9px;

        &:checked {
            background-image: url("../../../icons/checkboxCheck.svg");
            background-size: 16px;
            border-color: $primary;
        }
    }

    &__info {
        margin: 10px 0;

        &-wrapper {
            flex-grow: 1;
        }
    }

    &__ends {
        height: 28px;
        padding: 2px 12px;
        background-color: #f9f9fb;
        border: 1px solid $light-grey;
        border-radius: $border-radius-normal;
        color: $grey;
        margin-right: 20px;

        &._deadline {
            background-color: $red;
            color: $white;
        }

        &-icon {
            height: 15px;
            width: 12px;
            vertical-align: middle;
            margin-right: 9px;
        }
    }

    &__assigned {
        margin-left: auto;
    }

    &__more {
        margin-top: 15px;
    }
}
