@import "../../../styles/variables";

.b-organization-key-contacts {
    &__wrapper {
        margin-bottom: 25px;
    }

    &__header {
        padding: 14px 15px;
        border: 1px solid $light-grey;
        border-top-left-radius: $border-radius-normal;
        border-top-right-radius: $border-radius-normal;
        background-color: $white;
        min-height: 51px;

        .plus-button {
            height: 21px;
            transform: none;
        }
    }
}
