@import "../../../../styles/variables";

.b-remove-organization {
    &__wrapper {
        padding-top: 54px;
    }

    &__subtitle {
        margin-bottom: 3px;
    }

    &__name {
        margin-bottom: 30px;
    }
}
