@import "../../../../../styles/variables";

.f-task-basic-info {
    &__repeat {
        &-title {
            margin-bottom: 20px;
            min-width: 135px;
        }

        &-radio-group {
            flex-grow: 1;

            ._radio-btn:first-child {
                margin-left: auto;
            }
        }
    }

    &__input {
        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    .f-select__options-list {
        max-height: 250px;
    }

    &__reccurence {
        margin-left: 10px;
    }

    &__occurence {
        margin-left: 10px;
    }

    &__end-title {
        margin-top: 5px;
        margin-bottom: 25px;
    }

    &__hidden {
        pointer-events: none;
        opacity: 0.4;
        cursor: not-allowed;
    }

    &__ends {
        &-title {
            margin-top: 5px;
            margin-bottom: 20px;
        }
    }
}
