.f-add-team {
    &__autocomplete {
        margin-bottom: 5px;
    }
    &__results {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -5px 20px;
        &-item {
            padding: 5px;
        }
    }
    .b-modal__footer {
        margin-top: 0;
    }
}
