@import "../../../styles/variables";

.f-remove-organization-basic-info {
    &__row {
        margin-bottom: 20px;
    }

    &__datepicker {
        margin-right: 150px;
    }

    &__checkbox {
        padding-top: 17px;
    }
}
