@import "../../../styles/variables";

.b-search-results {
    padding: 30px 0 60px;

    &__header {
        margin-bottom: 15px;

        &-amount {
            width: 35px;
            height: 35px;
            background-color: $white;
            border-radius: 50%;
            margin-left: 10px;
        }
    }
}
