@import "../../../styles/variables";
@import "../../../styles/mixins";

.b-employees {
    &__wrapper {
        @include shadow-small;
    }
    &__cell {
        &._actions {
            padding: 0 15px;
            position: relative;
            width: 123px;
        }

        &._language {
            width: 140px;
        }
    }
}
