@import "../../../styles/variables";

.b-key-contacts {
    &__caption {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        height: 21px;
        .plus-button {
            transform: translate3d(0, 0, 0);
            img {
                display: block;
            }
        }
    }
    &__list {
        margin-bottom: 20px;
    }
    &__item {
        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }
}
