@import "../../../styles/variables";
@import "../../../styles/mixins";

$button-min-width: 105px;
$button-background-color-default: $white;
$button-background-color-primary: $primary;

$button-min-width-big: 185px;
$button-height-big: 60px;

$button-icon-size: 21px;

.button {
    $button: &;

    @include shadow-default;

    font-size: $h6;
    border: 1px solid $input-border-color;
    border-radius: $border-radius-normal;
    height: $input-height;
    min-width: $button-min-width;
    background-color: $button-background-color-default;
    color: $black;
    transition: background-color $transition-default;
    font-family: "Noto Sans", sans-serif;
    padding: 0 15px;

    &:hover,
    &[disabled] {
        background-color: darken($button-background-color-default, $button-hover-color-change-ratio);
    }

    &._primary {
        color: $white;
        background-color: $button-background-color-primary;
        border-color: $button-background-color-primary;
        box-shadow: none;

        &:hover {
            background-color: darken($button-background-color-primary, $button-hover-color-change-ratio);
        }

        &[disabled] {
            border-color: lighten($button-background-color-primary, 10);
            background-color: lighten($button-background-color-primary, 10);
        }
    }

    &._big {
        height: $button-height-big;
        min-width: $button-min-width-big;
    }

    &._add,
    &._see-history {
        width: 200px;
    }

    &._add-another-organization {
        width: 250px;
    }

    &._assign {
        width: 137px;
    }

    &._save-and-continue {
        width: 288px;
    }

    &._remove-object {
        padding: 0 48px 0 18px;
        position: relative;

        &:not(:last-child) {
            margin-right: 10px;
        }

        &:after {
            content: "";
            position: absolute;
            background-image: url("../../../icons/remove.svg");
            background-repeat: no-repeat;
            background-position: center;
            top: 14px;
            right: 13px;
            z-index: 1;
            width: 20px;
            height: 20px;
        }

        &[disabled] {
            padding: 0 32px 0 32px;

            &:after {
                background-image: none;
            }
        }
    }

    &._remove {
        color: $red;
        width: 140px;

        .icon_plusGrey {
            transform: rotate(45deg);
        }
    }

    &._upload {
        width: 150px;
    }

    &._export {
        width: 200px;
    }

    &._event_export {
        width: auto;
        margin-left: 10px;
    }

    &__icon {
        width: $button-icon-size;
        height: $button-icon-size;
        margin-right: 7px;
        opacity: 0.5;
        transition: opacity $transition-default, transform $transition-default;

        ._see-history & {
            opacity: 0.9;
        }

        #{$button}._see-history:hover & {
            opacity: 1;
        }

        #{$button}:hover & {
            opacity: 0.7;
        }
    }

    &__sort-icon {
        margin-right: 5px;
        padding-bottom: 1px;

        &._asc {
            transform: rotate(180deg);
        }
    }
}

.plus-button {
    transform: translate3d(0, 3px, 0);
    margin: 0 10px;
}

.simple-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;

    &:not(:last-child) {
        margin-right: 15px;
    }

    &._remove {
        .icon_remove {
            transform: scale(1.4);
        }
    }
}

.back-button {
    display: flex;
    align-items: center;
    font-size: $h5;
    font-weight: 700;
    color: $primary;

    &__icon {
        width: 6px;
        height: 11px;
        margin-right: 5px;
    }
}
