@import "../../../../styles/variables";

.b-groups-list {
    &__title {
        margin-bottom: 10px;
    }

    &__item {
        &-actions {
            border-left: 1px solid $light-grey;
            padding-left: 15px;
        }
    }

    &__edit {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
