@import "../../../styles/variables";

.table-collapse-button {
    width: 100%;
    border: 0;
    border-top: 1px solid $light-grey;
    border-radius: 0 0 $border-radius-normal $border-radius-normal;

    &._collapsed {
        .button__icon {
            transform: rotate(180deg);
        }
    }
}
