@import "../../../../../styles/variables";

.f-task-assignment {
    &__top-row {
        padding-bottom: 20px;
        border-bottom: 1px solid $light-grey;
    }

    &__remove-button {
        margin-bottom: 10px;
    }
}

.b-files-list__wrapper {
    padding-top: 0px;
}
