@import "../../../styles/variables";
@import "../../../styles/mixins";

.b-admin-related-users {
    &__wrapper {
        @include shadow-small;
    }
    &__cell {
        &._name {
            width: 355px;
        }
        &._actions-cell {
            width: 54px;
        }
    }
}
