@import "../../../styles/variables";
@import "../../../styles/mixins";

.b-related-buildings-table {
    overflow: hidden;
    &__body {
        .b-related-buildings-table__cell {
            &._actions {
                border-left: 1px solid $table-border-color;
            }
        }
    }
    &__cell {
        &._address,
        &._name {
            width: 300px;
        }
        &._type {
            width: 200px;
        }
        &._actions {
            width: 60px;
        }
        &._role {
            width: 150px;
        }
        &._indent {
            padding-left: 30px;
        }
    }
    &__actions {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    &__pin {
        width: 10px;
        margin-right: 4px;
    }
    &-row {
        &-group {
            height: 60px;
            position: relative;

            &._expanded {
                height: 40px;

                .b-table__cell {
                    padding-bottom: 0;
                    padding-top: 0;
                }
            }

            .b-table__cell {
                padding-bottom: 20px;
                padding-top: 0;
            }

            &__name {
                border-right: 1px solid $light-grey;
            }

            &__icon {
                margin-right: 10px;
                width: 30px;
                height: 30px;
            }

            &__collapse {
                position: absolute;
                top: 40px;
                left: 0;
                width: 100vw;
                height: 20px;
                background-color: $white;
                border-top: 1px solid $light-grey;

                @include collapsing;

                &:before {
                    top: 0;
                    left: 20px;
                }

                &:after {
                    top: 10px;
                    left: 56px;
                }

                &-button {
                    transition: transform $transition-default;

                    ._expanded & {
                        transform: rotate(-180deg);
                    }
                }
            }
        }

        &__actions {
            height: 40px;
            padding-left: 20px;
            border-left: 1px solid $light-grey;
            margin-left: auto;
        }
    }

    &__amount {
        width: 35px;
        height: 35px;
        margin-left: 10px;
        background-color: #fafbfc;
        border-radius: 50%;

        &._white {
            background-color: $white;
            width: 30px;
            height: 30px;
            transform: scale(calc(35 / 30));
            transform-origin: center center;
        }
    }
}
