@import "../../styles/variables";
@import "../../styles/mixins";

.b-no-mobile {
    background-image: url("./no-mobile-bg.jpeg");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;

    &__box {
        margin-top: 30px;
        @include shadow-small;
        background: $white;
        border-radius: $border-radius-normal;
        width: 85%;

        &-content {
            padding: 20px 20px 0;

            &__title {
                margin-bottom: 20px;
            }

            &__text {
                font-size: 15px;
                margin-bottom: 20px;
            }
        }
    }
}
