@import "../../../styles/variables";

.b-admin-object-types-table {
    &__group-edit {
        margin-left: 10px;
    }

    &__cell {
        &._group {
            width: 250px;
        }

        ._head &._actions-cell {
            text-align: right;
        }
    }

    &__empty {
        line-height: 50px;
    }

    &__collapse {
        transition: transform $transition-default;

        &._collapsed {
            transform: rotate(180deg);
        }
    }
}
