@import "../../../../../styles/variables";

.f-event-related {
    padding-bottom: 10px;

    &__objects {
        width: 350px;
    }

    &.button-group {
        margin-top: 10px;
        button {
            margin-bottom: 10px;
        }
    }
}
