@import "../../../styles/variables";

.b-new-relationship {
    .b-autocomplete__wrapper {
        flex-grow: 1;
        margin-top: 20px;
    }
    &__select {
        width: 100%;

        &.f-select__wrapper {
            margin-bottom: 0;
        }
    }
    &__caption {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        height: 21px;
        .plus-button {
            transform: translate3d(0, 0, 0);
            img {
                display: block;
            }
        }
    }
    &__selection-box {
        margin-top: 10px;

        .button {
            &._remove-object {
                &:after {
                    z-index: 0;
                }
            }
        }
    }
}
