@import "../../../styles/variables";
@import "../../../styles/mixins";

.b-person {
    $expanded-actions-width: 148px;

    @include shadow-small;
    border: 1px solid $light-grey;
    border-radius: $border-radius-normal;
    padding: 10px;
    flex-grow: 1;
    border-bottom-right-radius: 0;
    position: relative;
    width: 100%;

    &._expanded {
        border-radius: 0;
        border-bottom: 0;
        box-shadow: none;
        padding-right: #{$expanded-actions-width + 10px};

        &:first-child {
            border-top-left-radius: $border-radius-normal;
            border-top-right-radius: $border-radius-normal;
        }
    }

    &._cockpit {
        background-color: #fafbfc;
        border-radius: 0;

        &:first-child {
            border-top: 0;
            border-bottom-left-radius: $border-radius-normal;
        }

        &._expanded {
            border-radius: 0;

            ._single-contact & {
                border-top: 0;
                border-bottom: 1px solid $light-grey;
                border-bottom-left-radius: $border-radius-normal;
                border-bottom-right-radius: $border-radius-normal;
            }
        }
    }

    &._standalone {
        &._expanded:last-child {
            border-bottom: 1px solid $light-grey;
            border-bottom-left-radius: $border-radius-normal;
            border-bottom-right-radius: $border-radius-normal;
        }
    }

    &__image {
        margin-right: 10px;
    }

    &__name {
        margin-top: 2px;
        margin-bottom: 5px;
    }

    &__contact {
        font-size: $h6;
        margin-bottom: 1px;
    }

    &__amount {
        margin-left: auto;
        margin-right: 20px;
        margin-top: 2px;
        width: 35px;
        height: 35px;
        flex: 0 0 35px;
        background-color: $white;
        color: $green;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }

    &__actions {
        padding: 0 20px;
        border-left: 1px solid $light-grey;
        margin-right: -10px;

        ._expanded & {
            position: absolute;
            right: 0;
            top: 0;
            // width: $expanded-actions-width;
            height: 100%;
            margin-right: 0;
        }
    }
}
