.f-add-subsidiary {
    &__title {
        margin-bottom: 40px;
    }

    &__group {
        margin-bottom: 20px;

        &-btn {
            margin-bottom: 20px;
        }
    }

    &__autocomplete {
        margin-bottom: 20px;
    }

    &__current {
        ._remove-object {
            margin-bottom: 20px;
        }
    }
}
