.b-admin-organization {
    padding-top: 40px;

    &__item {
        margin-bottom: 50px;
    }
    &__header {
        margin-bottom: 20px;
    }
    &__search {
        width: 280px;
        &-select {
            margin-left: 20px;
            margin-right: 10px;
        }
    }
    &__title {
        &-edit-button {
            display: inline;
        }
    }
}
