@import "../../../styles/variables";

.b-new-non-client-organization-modal {
    &__title {
        margin-bottom: 40px;
    }

    &__plz,
    &__phone-code {
        width: 320px;
        margin-right: 20px;
    }

    &__number {
        width: 175px;
    }

    &__street {
        margin-right: 20px;
    }

    &__phone,
    &__city,
    &__street {
        flex-grow: 1;
    }
}
