@import "../../../styles/variables";
@import "../../../styles/mixins";

.b-tabs {
    border-radius: $border-radius-normal;
    border: 1px solid $table-border-color;
    background-color: #fff;
    @include shadow-small;
    &__nav {
        display: flex;
        border-bottom: 1px solid $table-border-color;
    }
    &__content {
        padding: 20px;
        background-color: transparentize($ghost-white, 0.5);
    }
}
